<h2 mat-dialog-title>{{data.status}} Data</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="name">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Weight</mat-label>
    <input matInput [(ngModel)]="weight">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Height</mat-label>
    <input matInput [(ngModel)]="height">
  </mat-form-field>
</mat-dialog-content>
<div fxLayout="row" fxLayoutAlign="space-around center">

  <button mat-raised-button color="warn" (click)="onNoClick()" style="margin: 10px;">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()" [mat-dialog-close]="data">Save Data</button>

</div>